html{scroll-behavior: smooth;}
body{margin: 0px;}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}
p,a,li,td{
    font-family: 'Golos Text', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
/** header before scroll**/
.menu-row{
    display: flex;
    align-items: center;
    width: 100%;
    height: 125px;
    position: fixed;
    z-index: 9999;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 1);
    transition: all .25s ease;
}
.menu-row .logo{
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.menu-row .logo > div{
    height: 115px;
    transition: all .25s linear;
}
.menu-row .logo img{
    height: 100%;
    width: auto;
}
.menu{
    display: flex;
    list-style: none;
    padding: 30px;
}
      /*for navigation links */
.menu li a {
    color: #0d0d0d;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
      /* a to hover*/
.menu li a:hover {
    background-color: #0d0d0d;
    color: #f7f7f7;
}
 /** the two section is active when the  scroll is grater than 75px**/
.scrolled-menu{
    background-color: #0e0e0e;
}
.scrolled-menu li a{
    color: #f4f4f4;
}
.scrolled-menu li a:hover{
    color: #0d0d0d;
    background-color: #f7f7f7;
}
/* Slider */
.masthead-slider{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .masthead-slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .masthead-slider .slide h2{
    width: 100%;
    color: rgba(255, 255, 255, .3
    );
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
    margin: 0px;
    font-size: 68px;
  }
  .slide1{
    background-image: url("../img/slide-1.jpg");
  }
  .slide2{
    background-image: url("../img/slide-2.jpg");
  }
  .slide3{
    background-image: url("../img/slide-3.jpg");
  }
  .part-1{
    width: 70%;
    margin: auto;
    background-color: #ffffff;
    padding: 2%;
}
.part-1 h2{
    text-align: center;
    font-size: 3em;
}

.part-1 .image-part{
    width: 80%;
    height: auto;
    margin: 0px auto; 
}

.part-1 .image-part img{
    width: 100%;
    height: auto;    
}
.part-2{
    width: 70%;
    margin: auto;
    background-color: #ffffff;
    padding: 2%;
}
.part-2 h2{
    text-align: center;
    font-size: 3em;
}

.part-2 .image-part{
    align-items: center;
    width: 80%;
    height: auto;
    margin: 0px auto; 
}

.part-2 .image-part img{
    width: 100%;
    height: auto;    
}
.part-2 .text-part{
    text-align: center;
}
  /* Tabs */
  .tabs-row{
    padding: 10% 5%;
    background-color: #f6f6f6;
  }
  h2{
    font-weight: 200;
    font-size: 3em;
    color: #060606;
    text-align: center;
  }
  .tabs{
    margin-top: 40px;
    width: 80%;
    margin: 0 auto;
  }
  .tab-list{
    padding-bottom: 25px;
  }
  .tab{
    border: 1px solid transparent;
    border-radius: 40px;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    color: rgba(87, 87, 87, 0.2);
    font-weight: 700;
    background-color: rgba(10, 20, 30, .2);
  }
  .tab.active{
    color: #0b0b0b;
    background-color: rgba(73, 73, 73, 0.1);
    border: 1px solid rgba(171, 108, 108, 0.6);
  }
  .tab-content{
    background-color: #9d9d9d;
    display: none;
    padding: 25px;
    color: #0e0e0e;
  }
  .show{
    display: block;
  }
  /* for the footer  */
footer {
    align-items: center;
    background-color: #141414;
    padding: 100px;
  }
footer a{
    color: #f7f7f7;
    text-align: center;
    align-items: center;
    padding: 1px;
    border-radius: 5px;
    transition: all 0.5s ease;

  }
footer nav{
    background-color: #000000;
    border-radius: 5px;
  }
  footer nav menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer li a:hover{
    color: #0d0d0d;
    background-color: #f7f7f7;
  }
footer nav li{
    text-align: center;
    ;
  }
footer .comp-des p{
    font-size: .90em;
    color: #f7f7f7;
}
footer .terms p{
    text-align: center;
    font-size: .75em;
    color: #f7f7f7;
}